@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Montserrat:wght@400;500;600&display=swap");
/* font-family: 'Montserrat', sans-serif; */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent {
  width: 100%;
  display: flex;
}

/* Restaurant styles */
.restaurant {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 15px;

  /* restaurant */
  .img_style {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    position: relative;
  }

  .logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    position: absolute;
    top: 240px;
    left: 230px;
  }
  .rest_info {
    width: auto;
    flex-direction: column;
    display: flex;
    position: absolute;
    top: 270px;
    left: 350px;

    .name {
      color: white;
      font-size: 25px;
      font-family: "Montserrat", sans-serif;
    }

    .adress {
      color: white;
      font-size: 18px;
      font-family: "Montserrat", sans-serif;
    }
  }
}

/* menu cards and category styless */
.container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;

  .cat_overflow {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: auto;
  }

  .category_box {
    width: auto;
    height: 32px;
    display: flex;
    justify-content: center;
    padding: 0 5px 0 5px;
    cursor: pointer;
    position: relative;

    .category_text {
      font-size: 18px;
      font-weight: 700;
      font-family: "Montserrat", sans-serif;
      position: relative;
      z-index: 2;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #fae100;
      transform: scaleX(0); /* Начальное значение ширины подчеркивания */
      transform-origin: right;
      transition: transform 0.3s ease; /* Плавный переход для изменения ширины */
    }

    &:hover::before {
      transform: scaleX(1); /* Увеличиваем ширину подчеркивания при наведении */
      transform-origin: left;
    }
  }
}

.carousel_img_style {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
.carousel_link {
  text-decoration: none;
}
.carousel_button_size {
  width: auto;
  height: 350px;
}

.cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;

  .card {
    width: 246px;
    overflow: hidden;
    border-radius: 14px !important;
    border: 1px solid lavender;
    margin: 10px 13px 0 0;
    box-shadow: 5px 5px 15px 5px rgba(230, 230, 250, 1);

    .card__image {
      position: relative;
      height: 130px;

      img {
        width: 96%;
        border-radius: 14px 14px 0 0;
        position: absolute;
        height: 140px;
        object-fit: cover;
        object-position: center;
        margin: 3px 4px 4px 4px;
      }
    }

    .card__info {
      font-family: "Montserrat", sans-serif;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      padding: 0 30px 20px 30px;
      margin-top: 25px;

      h3 {
        font-size: 16px;
        font-weight: 700;
      }
      p {
        font-size: 12px;
        font-weight: 600;
      }
    }

    .card__info--price {
      text-align: right;
      color: #fae100;
    }
  }
}

@media (min-width: 320px) and (max-width: 520px) {
  .restaurant {
    .img_style {
      width: 100%;
      height: 250px;
    }

    .logo {
      width: 60px;
      height: 60px;
      top: 190px;
      left: 25px;
    }
    .rest_info {
      top: 200px;
      left: 100px;

      .name {
        font-size: 14px;
      }

      .adress {
        font-size: 10px;
      }
    }
  }

  .carousel_img_style {
    width: 100%;
    height: 150px;
  }
  .carousel_button_size {
    width: auto;
    height: 150px;
  }
  .carousel_in_size{
    width: auto;
    top: 70px;
    

    h5{
      font-size: 12px;
    }
    p{
      font-size: 8px;
    }
  }

 
  .container {
  
    .category_box {

      .category_text {
        font-size: 14px;
      }
  
    }
  }  

  .cards {
    display: flex;
    justify-content: center;
    .card {
      width: 180px;
      margin: 10px 13px 0 0;
  
      .card__image {
        height: 100px;
  
        img {
          width: 96%;
          border-radius: 14px 14px 0 0;
          position: absolute;
          height: 110px;
          object-fit: cover;
          object-position: center;
          margin: 3px 4px 4px 4px;
        }
      }
  
      .card__info {
  
        h3 {
          font-size: 14px;
        }
        p {
          font-size: 10px;
        }
      }
  
      .card__info--price {
        text-align: right;
        color: #fae100;
      }
    }
  }

}



@media (min-width: 520px) and (max-width: 768px) {
  .restaurant {
    .img_style {
      width: 100%;
      height: 250px;
    }

    .logo {
      width: 60px;
      height: 60px;
      top: 195px;
      left: 55px;
    }
    .rest_info {
      top: 210px;
      left: 130px;

      .name {
        font-size: 14px;
      }

      .adress {
        font-size: 10px;
      }
    }
  }

  .carousel_img_style {
    width: 100%;
    height: 200px;
  }
  .carousel_button_size {
    width: auto;
    height: 200px;
  }
  .carousel_in_size{
    width: auto;
    top: 120px;
    

    h5{
      font-size: 12px;
    }
    p{
      font-size: 8px;
    }
  }

 
  .container {
  
    .category_box {

      .category_text {
        font-size: 16px;
      }
  
    }
  }  

  .cards {
    display: flex;
    justify-content: start;

    .card {
      width: 159px;
      margin: 10px 13px 0 0;
  
      .card__image {
        height: 90px;
  
        img {
          width: 96%;
          border-radius: 14px 14px 0 0;
          position: absolute;
          height: 100px;
          object-fit: cover;
          object-position: center;
          margin: 3px 4px 4px 4px;
        }
      }
  
      .card__info {
        margin-top: 25px;
        padding: 0 30px 0 30px;
        h3 {
          font-size: 14px;
        }
        p {
          font-size: 10px;
        }
      }
  
      .card__info--price {
        text-align: right;
        color: #fae100;
      }
    }
  }

}